<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Decrypt - Image</title>
	</head>
	<body>
		{% include 'navigate.html' %}
		<div class="container">
			<h1 class="text-center">Decrypt Image</h1>
			<form
				method="post"
				action="{%url 'decrypt' %}"
				enctype="multipart/form-data"
			>
				{% csrf_token %}
				<div class="form-group">
					<label>Upload Encypted Image</label>
					<input
						type="file"
						name="image"
						class="form-control-file"
						required
					/>
				</div>
				<button class="btn btn-primary">Decrypt</button>
				<div class="text-center">
					{% if text %}
					<p>Decrypted Text</p>
					<textarea style="resize: none; text-align: left">
				{{text}}
				</textarea
					>
					{% endif %}
				</div>
			</form>
		</div>
	</body>
</html>
