<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Encrypt - Image</title>
	</head>
	<body>
		{% include 'navigate.html' %}
		<div class="container">
			<h1 class="text-center">Encrypt Image</h1>
			<form
				method="post"
				action="{%url 'encrypt' %}"
				enctype="multipart/form-data"
			>
			{% csrf_token %}
				<div class="form-group">
					<label>Upload Image</label>
					<input
						type="file"
						name="image"
						class="form-control-file"
						required
					/>
				</div>
				<div class="form-group">
					<label>Enter text to encrypt</label>
					<textarea
						type="text"
						name="message"
						class="form-control"
						required
						style="resize: none"
					></textarea>
				</br>
					<button type="submit" class="btn btn-primary">Encrypt</button>
				</div>
			</form>
		</div>
		{% if message %}
		<p align="center">{{message}}</p>
		{% endif %}
		{% if encoded_image_url %}
			<div class="text-center">
				<img src="{{ encoded_image_url }}" alt="Encoded Image">
				<a href="{{ encoded_image_url }}" download="encoded_image.png" class="btn btn-primary mt-3">
					Download
				</a>
			</div>
		{% endif %}
	</body>
</html>
